.UsernameInput {
    width: 100%;
    display: block;
    margin: 10px 10px 5px 20px;

    input {
        padding: 10px;
        margin: 0;
        margin-right: 10px;
        font-size: 14px;
        border: none;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 10%;
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    }
}
